@theme static {
  /* App-specific colors */
  --spacing: 1px;

  --color-error: #ff0000;
  --color-gray-border: #e0e0e0;
  --color-text-black: #222222;

  --color-text-gray: #6d6d6d;
  --color-hint-gray: #b4b4b4;
  --color-background-gray: #f7f7f7;
  --color-label-border-gray: #bfc8d9;
  --color-table-text-gray: #555462;
  --color-delete-border-gray: #adadad;
  --color-period-border-gray: #ebeff5;
  --color-header-gray: #9b9b9b;
  --color-active: #2a60d3;

  --color-third: #7c8292;
  --color-focus: #8095ea;
  --color-hover: #2a60d3;

  --color-label-black: #35343f;
  --color-header-black: #3a3a3a;

  --color-necessary: #eb5757;
}
