[package]
name = "user-ui"
version = "0.1.0"
authors.workspace = true
edition.workspace = true


[dependencies]
dioxus = { workspace = true, features = ["default", "router", "fullstack"] }
by-components.workspace = true
dioxus-translate.workspace = true
dioxus-aws.workspace = true
by-types.workspace = true
rest-api.workspace = true

models.workspace = true
dioxus-logger.workspace = true

getrandom = { version = "0.2", features = ["js"] }
# getrandom = { version = "0.3.1", features = ["wasm_js"] }
wasm-bindgen = { version = "0.2.100" }
wasm-bindgen-futures = { version = "0.4.49" }
web-sys = { version = "0.3.74" }
num-format = "0.4.4"
regex = "1.3.9"
chrono = "0.4"


[features]
default = []
server = ["dioxus-aws/server"]
lambda = ["dioxus-aws/lambda", "server"]
web = ["dioxus-aws/web", "dioxus-translate/web", "models/web"]
