[package]
name = "user-ui"
version = "0.1.1"
authors.workspace = true
edition.workspace = true


[dependencies]
dioxus = { workspace = true, features = ["default", "router", "fullstack"] }
by-components.workspace = true
dioxus-translate.workspace = true
dioxus-aws.workspace = true
by-types.workspace = true
by-macros.workspace = true
rest-api.workspace = true
bdk = { workspace = true, features = ["fe"] }

models.workspace = true
dioxus-logger.workspace = true

getrandom = { version = "0.2", features = ["js"] }
# getrandom = { version = "0.3.1", features = ["wasm_js"] }
wasm-bindgen = { version = "0.2.100" }
wasm-bindgen-futures = { version = "0.4.49" }
web-sys = { version = "0.3.74" }
num-format = "0.4.4"
regex = "1.3.9"
chrono = "0.4"
indexmap = "2.7.1"

dioxus-oauth.workspace = true
google-wallet = { workspace = true }


[features]
default = []
server = ["bdk/server"]
lambda = ["server", "bdk/lambda"]
web = ["bdk/web", "models/web"]
