@utility no-scrollbar {
  scrollbar-width: none;
}

@theme static {
  /* App-specific colors */
  --spacing: 1px;

  --color-primary: #8095ea;
  --color-secondary: #2a60d3;
  --color-third: #7c8292;
  --color-key-gray: #35343f;
  --color-light-gray: #7c8292;
  --color-profile-gray: #d9d9d9;
  --color-review-gray: #6d6d6d;
  --color-text-gray: #555462;
  --color-box-gray: #f7f7f7;
  --color-input-border-gray: #e6e6e6;
  --color-icon-gray: #afafaf;
  --color-line-gray: #eeeeee;
  --color-quiz-border: #ebeff5;
  --color-discussion-border-gray: #bfc8d9;
  --color-hint-gray: #b4b4b4;

  --color-footer: #1f1d2c;
  --color-logo: #34333e;
  --color-text-black: #222222;
  --color-text-quiz-black: #2d2d2d;
  --color-button-primary: #8095ea;
  --color-error: #eb5757;
  --color-gradient-green: #dbeae8;
  --color-necessary-red: #eb5757;
  --color-optional-blue: #2a60d3;
  --color-bg-price-section: #f1f3fa;
  --color-netural-9: #1f1e2d;

  --color-bt-grey: #ebeff5;
  --color-bt-primary: #8095ea;
  --color-bt-disabled: #b4b4b4;

  --breakpoint-desktop: 1300px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 480px;

  --header-height: 80px;
}
